
load_module /usr/local/nginx/modules/ngx_stream_module.so;
events {
}

stream {
    upstream k8s_servers {
    %{ for node_host, node_hostname in node_map_masters ~}
    server ${node_host}:6443;
    %{endfor}
    }

    server {
        listen 6443;
        proxy_pass k8s_servers;
    }
}