#!/bin/bash
talosctl gen config talos-ha-cilium https://${load_balancer}:6443  --config-patch @cni.yaml
sleep 10
sed -i "" "s/# allowSchedulingOnControlPlanes/allowSchedulingOnControlPlanes/g" controlplane.yaml
sleep 10

%{ for node_host in node_map_masters ~}
talosctl apply-config --insecure --nodes ${node_host} --file controlplane.yaml
echo "Applied controller config to ${node_host}"
%{endfor}
%{ for node_host in node_map_workers ~}
talosctl apply-config --insecure --nodes ${node_host} --file worker.yaml
echo "Applied worker config to ${node_host}"
%{endfor}

# Bootstrap
sleep 30
talosctl bootstrap --nodes ${primary_controller} -e ${primary_controller} --talosconfig=./talosconfig
echo "Started bootstrap process"
sleep 30

# Update kubeconfig
talosctl kubeconfig $HOME/.kube/talos-ha-cilium-config --nodes ${primary_controller} -e ${primary_controller} --talosconfig=./talosconfig --force
echo "Updated kubeconfig"
export KUBECONFIG=$HOME/.kube/talos-ha-cilium-config
echo "switch context to new kubeconfig"
kubectl config current-context
echo "install cilium"
./cilium.sh

# Health check
n=0
retries=5
until [ "$n" -ge "$retries" ]; do
  if talosctl --talosconfig=./talosconfig --nodes ${primary_controller} -e ${primary_controller} health; then
    break
  else
    n=$((n+1))
    sleep 5
  fi
done
echo "Successfully created cluster"